{% extends "base.html" %}

{% load static %}

{% block title %} Easytasks - Dashboard {% endblock %}

{% block content%}
<div class="dashboard-page">

    <h1 id="page-title"> Dashboard </h1>

    <hr id="horizontal-line">

    <h3 id="page-subtitle"> Painel Geral </h3>

    <div id="menu">
        <div id="conversor">
            <div class="icon-and-title">
                <i class="material-icons icon-dashboard" id="icon-conversor-color">autorenew</i>
                <h2 class="icon-title"> Conversor de Unidades </h2>
            </div>
        </div>
        <div id="gerador">
            <div class="icon-and-title">
                <i class="material-icons icon-dashboard" id="icon-gerador-color">calculate</i>
                <h2 class="icon-title"> Gerador </h2>
            </div>
        </div>
        <div id="texto">
            <div class="icon-and-title">
                <i class="material-icons icon-dashboard" id="icon-texto-color">text_format</i>
                <h2 class="icon-title"> Texto </h2>
            </div>
        </div>
        <div id="cores">
            <div class="icon-and-title">
                <i class="material-icons icon-dashboard" id="icon-cores-color">invert_colors</i>
                <h2 class="icon-title"> Cores </h2>
            </div>
        </div>
        <div id="tempo">
            <div id="tempo-top">
                <i class="material-icons icon-dashboard-top" id="icon-tempo-color">query_builder</i>
                <h3 id="tempo-icon-title">Tempo</h3>
            </div>
            <div id="tempo-frame">
                <div id="tempo-menu">
                    <div class="tempo-menu-rect-clock tempo-menu-text">
                        Relógio
                    </div>
                    <div class="tempo-menu-rect-timer tempo-menu-text">                
                        Cronômetro
                    </div>            
                    <div class="tempo-menu-rect-stopwatch tempo-menu-text">
                        Temporizador
                    </div>                
                </div>
                <div id="tempo-display">
                    <div id="clock-display">
                        <h1 id="clock-display-time">08:30:25</h1>
                        <h3 id="clock-display-region">Horário de Brasília (UTC-3)</h3>
                        <h3 id="clock-display-date">Sexta-feira, 22 de Janeiro, 2021</h3>                    
                    </div>
                </div>

            </div>
            <div id="tempo-bottom">
                <i class="material-icons icon-dashboard-bottom" id="icon-fullscreen-color">fullscreen</i>
            </div>
        </div>
        
        <div id="cotacoes">
            <div id="cotacoes-top">
                <div id="cotacoes-top-left">
                    <i class="material-icons icon-dashboard-top" id="icon-cotacoes-color">monetization_on</i>
                    <h3 id="cotacoes-icon-title">Cotações</h3>
                </div>
                <div id="cotacoes-top-right">
                    <p id="cotacoes-top-right-update">Atualizado em <span class="cotacoes-top-date">21/01/2021</span> as <span class="cotacoes-top-date">09:30</span></p>
                </div>
            </div>

            <div id="cotacoes-table">
                <table id="cotacoes-table-tag">
                    <tr>
                        <th id="cotacoes-table-ID">ID</th>
                        <th id="cotacoes-table-Moeda">Moeda</th>
                        <th id="cotacoes-table-Simbolo">Símbolo</th>
                        <th id="cotacoes-table-Valor">Valor</th>
                    </tr>
                    <tr>
                        <td class="cotacoes-table-avatar">
                            <img src="{% static '/images/currencies_flags/usa_flag.png' %}" alt="DÓLAR">
                        </td>
                        <td>DÓLAR</td>
                        <td>USD</td>
                        <td class="cotacoes-table-price">R$ 5,40</td>
                    </tr>
                    <tr>
                        <td class="cotacoes-table-avatar">
                            <img src="{% static '/images/currencies_flags/eu_flag.png' %}" alt="EURO">                    
                        </td>
                        <td>EURO</td>
                        <td>EUR</td>
                        <td class="cotacoes-table-price">R$ 6,40</td>
                    </tr>
                    <tr>
                        <td class="cotacoes-table-avatar">
                            <img src="{% static '/images/currencies_flags/argentina_flag.png' %}" alt="PESO ARGENTINO">
                        </td>
                        <td>PESO ARGENTINO</td>
                        <td>ARS</td>
                        <td class="cotacoes-table-price">R$ 0,062</td>
                    </tr>
                    <tr>
                        <td class="cotacoes-table-avatar">
                            <img src="{% static '/images/currencies_flags/china_flag.png' %}" alt="YUAN CHINÊS">
                        </td>
                        <td>RENMIMBI (YUAN CHINÊS)</td>
                        <td>CNY</td>
                        <td class="cotacoes-table-price">R$ 0,83</td>
                    </tr>                                                
                    <tr>
                        <td class="cotacoes-table-avatar">
                            <img src="{% static '/images/currencies_flags/canada_flag.png' %}" alt="DÓLAR CANADENSE">
                        </td>
                        <td>DÓLAR CANADENSE</td>
                        <td>CAD</td>
                        <td class="cotacoes-table-price">R$ 4,21</td>
                    </tr>
                    <tr>
                        <td class="cotacoes-table-avatar">
                            <img src="{% static '/images/currencies_flags/uk_flag.png' %}" alt="LIBRA ESTERLINA">
                        </td>
                        <td>LIBRA ESTERLINA</td>
                        <td>GBP</td>
                        <td class="cotacoes-table-price">R$ 7,37</td>
                    </tr>
                    <tr>
                        <td class="cotacoes-table-avatar">
                            <img src="{% static '/images/currencies_flags/bitcoin_flag.png' %}" alt="BITCOIN">
                        </td>
                        <td>BITCOIN</td>
                        <td>BTC</td>
                        <td class="cotacoes-table-price">R$ 213.400,40</td>
                    </tr>                                                
                    <tr>
                        <td class="cotacoes-table-avatar">
                            <img src="{% static '/images/currencies_flags/ethereum_flag.png' %}" alt="ETHEREUM">
                        </td>
                        <td>ETHEREUM</td>
                        <td>ETH</td>
                        <td class="cotacoes-table-price">R$ 8.482,40</td>
                    </tr>                                                
                    <tr>
                        <td class="cotacoes-table-avatar">
                            <img src="{% static '/images/currencies_flags/zcash_flag.png' %}" alt="ZCASH">
                        </td>
                        <td>ZCASH</td>
                        <td>ZEC</td>
                        <td class="cotacoes-table-price">R$ 493,13</td>
                    </tr>                                                
                    <tr>
                        <td class="cotacoes-table-avatar">
                            <img src="{% static '/images/currencies_flags/litecoin_flag.png' %}" alt="LITECOIN">
                        </td>
                        <td>LITECOIN</td>
                        <td>LTC</td>
                        <td class="cotacoes-table-price">R$ 812,07 </td>
                    </tr>                                                
                </table>
            </div>
            
            <div id="cotacoes-bottom">
                <p id="cotacoes-bottom-sources">Fontes: Morningstar e Binance</p>
                <h2 id="cotacoes-bottom-more">Ver todas</h2>
            </div>

        </div>

        <div id="adsense">
            <h2 id="adsense-text"> Google Adsense </h2>
        </div>
    </div>

</div>


{% endblock %}