{% extends "conta_base.html" %}

{% load static %}

{% block title %} Easytasks - Excluir Conta {% endblock %}

{% block conta_content %}

<div id="profile-delete-grid">
    <div id="profile-delete-menu">
        <div id="messages-bar">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}
                            <a href="{% url 'profile_delete' %}" class="close"><p>x</p></a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>    
        <h3>Você tem certeza que quer excluir a conta?</h3>
        <form id="profile-delete-profile-form" method="POST">
            {% csrf_token %}
            <button id="profile-delete-yes-button" type="submit" value="Delete">Sim</button>
        </form>
        <a href="{% url 'profile_view' %}">
            <button id="profile-delete-no-button" type="submit" value="Delete">Não</button>
        </a>
    </div>

    <div id="profile-delete-empty">
    </div>

    <div id="profile-delete-adsense">
        {% include "adsense_base.html" with personalizedAds=cookies.cookie.cookie_marketing.status %}
    </div>

</div>

{% endblock %}

