:root {
    --purple-primary: #580091;
    --purple-secondary: #9A00FF;
    --purple-tertiary: #F7EFFF;
    --purple-quaternary: #E6D3F9;
    --purple-light: #FBF8FE;
    --gray-primary: #2D3940;
    --gray-secondary: #4A565D;
    --gray-tertiary: #47494A;
    --gray-quaternary: #7D919C;
    --gray-light: #F2F3F4;
    --dark-gray: #18262D;
    --blue-primary: #0089B4;
    --blue-secondary: #E4F5FB;
    --blue-tertiary: #E4ECF1;
    --orange-dark: #D96500;
    --orange-light: #FFE5CE;
    --pink-light: #FFDCF0;
    --green-dark: #00A175;
    --green-light: #D4FBF0;
    --red-primary: #9e0f1c;
    --red-secondary: #e60015;
    --red-tertiary: #ff0015;
    --white: #ffffff;

}

@media only screen and (max-width: 1530px) {

    #tempo-grid {
        height: inherit;
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    #tempo-app {
        height: inherit;
        width: inherit;
    }
    
    #tempo-time-grid-app {
        max-width: 98.25%;
        max-height: 750px;
        padding-top: 10px;
        padding-bottom: 6px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 2fr);
        gap: 10px;
        grid-template-areas:
            "time"
            "table"
        ;
    }
    
    #tempo-time-grid-table {
        grid-area: table;
        background-color: var(--purple-tertiary);
        border-radius: 16px;
        padding: 0px 0px 0px 0px;
        overflow: auto;
    }
    
    #tempo-time-table {
        width: 100%;
        text-align: center;
        border-collapse: separate;
        border-spacing: 0;
    
    }
    
    #tempo-time-table th {
        border-bottom: 2px solid var(--purple-quaternary);
        font-size: 14px;
        color: var(--gray-primary);
    
        background-color: var(--purple-tertiary);
        position: sticky;
        z-index: 5;
        top: 0px;
        padding: 8px;
        width: 50%;
    }
    
    
    .region-data-table, .timezone-data-table {
        padding: 15px 0px 15px 0px;
        text-align: center;
        vertical-align: center;
        font-size: 14px;
    
    }
    
    .time-table-row-data {
        cursor: pointer;
        margin: 5px 0px 5px 0px;
        padding: 5px 0px 5px 0px;
    }
    
    .time-table-row-data:hover {
        background-color: var(--purple-quaternary);
    }
    
    
    #tempo-grid-time {
        grid-area: time;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
    
    #tempo-time-display {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #tempo-time-display-time {
        font: 'Quicksand', sans-serif;
        font-size: 70px;
        color: var(--gray-primary);
    }
    
    #tempo-time-display-region {
        text-align: center;
        padding: 20px;
        font: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: var(--gray-primary);
    }
    
    #tempo-time-display-date {
        text-align: center;
        padding: 20px;
        font: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: var(--gray-primary);
    }
    
    #tempo-time-bottom {
        align-self: flex-end;
        cursor: pointer;
    }
    
    .icon-dashboard-bottom {
        color: var(--gray-secondary);
    }
    
    #tempo-time-bottom:hover > .icon-dashboard-bottom {
        color: var(--purple-secondary);
    }
    
    #tempo-time-grid-adsense {
        background: transparent;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 10px 10px 10px;
    }
    
    #tempo-time-adsense-title {
        text-align: center;
        color: var(--white);
    }
}

@media only screen and (max-width: 500px) {
    .tempo-page {
        width: 80vw;
    }
}
