{% extends "base.html" %}

{% load static %}

{% block title %} Easytasks - Tempo {% endblock %}

{% block content %}
<div class="tempo-page">
    <h1 id="page-title"> Tempo </h1>

    <hr id="horizontal-line">

    <div class="tempo-page-menu">
        <ul class="tempo-menu-list">
            <a href="{% url 'time_view' %}">
                <li class="tempo-menu-option {% if section == 'relogio'%} menu-option-selected {% endif %}" id="time-option">
                    Relógio
                </li>
            </a>
            <a href="{% url 'stopwatch_view' %}">
                <li class="tempo-menu-option {% if section == 'cronometro'%} menu-option-selected {% endif %}" id="stopwatch-option">
                    Cronômetro
                </li>
            </a>
            <a href="{% url 'timer_view' %}">
                <li class="tempo-menu-option {% if section == 'temporizador'%} menu-option-selected {% endif %}" id="timer-option">
                    Temporizador
                </li>
            </a>
        </ul>
    </div>
 

    {% block timeapp %}
    {% endblock %}

{% endblock %}
