{% extends "base.html" %}

{% load static %}

{% block title %} Easytasks - Cores {% endblock %}

{% block content %}
<div class="cores-page">
    <h1 id="page-title"> Cores </h1>

    <hr id="horizontal-line">

    <div class="cores-page-menu">
        <ul class="cores-menu-list">
            <li class="cores-menu-option" id="analogous-option">Análogo</li>
            <li class="cores-menu-option" id="monochromatic-option">Monocromático</li>
            <li class="cores-menu-option" id="triad-option">Tríade</li>
            <li class="cores-menu-option" id="complementary-option">Complementar</li>
            <li class="cores-menu-option" id="square-option">Quadrado</li>
        </ul>
    </div>
 
    <div id="cores-page-content">
        <div id="cores-grid">
            
        </div>
    </div>

{% endblock %}

{% block script %}

{% endblock %}