{% extends "base.html" %}

{% load static %}

{% block title %} Easytasks - Texto {% endblock %}

{% block content %}
<div class="texto-page">
    <h1 id="page-title"> Texto </h1>

    <hr id="horizontal-line">


    <div class="texto-page-menu">
        <ul class="texto-menu-list">
            <li class="texto-menu-option" id="uppercase-option">Letras Maiúsculas</li>
            <li class="texto-menu-option" id="lowercase-option">Letras Minúsculas</li>
            <li class="texto-menu-option" id="uppercase-each-word-option">Primeira Letra Maiúscula por Palavra</li>
            <li class="texto-menu-option" id="uppercase-each-other-letter-option">Maiúsculas Alternadas</li>
            <li class="texto-menu-option" id="binary-option">Binário</li>
            <li class="texto-menu-option" id="invert-option">Inverter</li>
        </ul>
    </div>

    <div id="texto-page-content">
        <div id="texto-grid">
            <div id="texto-area">

                <div id="text-area-label">
                    <h3 id="text-label"> Insira o texto no espaço abaixo:</h3>
                </div>


                <div id="texto-form">
                    <form action="" method="POST">
                        <textarea class="input-data-form"
                            name="text-area-content"
                            placeholder="Insira o texto aqui..."
                        ></textarea>


                        <div id="text-area-bottom">
                            {% csrf_token %}
                            <input type="submit" value="Converter">
                            <div id="text-info">
                                <p>Quantidade de Palavras:</p>
                                <p>Quantidade de Caracteres:</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="adsense">

            </div>

        </div>
    </div>



{% endblock %}