{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %} Easytasks - Tarefas simples {% endblock %}
    </title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/registration/login.css' %}" rel="stylesheet">
    <link href="{% static 'css/registration/logout.css' %}" rel="stylesheet">
    <link href="{% static 'css/registration/registration.css' %}" rel="stylesheet">
    <link href="{% static 'css/registration/recovery.css' %}" rel="stylesheet">
    <link href="{% static 'css/conversor.css' %}" rel="stylesheet">
    <link href="{% static 'css/gerador_base.css' %}" rel="stylesheet">
    <link href="{% static 'css/gerador/numbers.css' %}" rel="stylesheet">
    <link href="{% static 'css/gerador/passwords.css' %}" rel="stylesheet">
    <link href="{% static 'css/texto.css' %}" rel="stylesheet">
    <link href="{% static 'css/cores.css' %}" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="48x48" href={% static '/icons/easytasks48px.png' %}>
    <link rel="icon" type="image/png" sizes="32x32" href={% static '/icons/easytasks32px.png' %}>
    <link rel="icon" type="image/png" sizes="16x16" href={% static '/icons/easytasks16px.png' %}>
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/easytasks_icon.ico' %}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


<body>
    <div id="app">
        <nav id="sidebar">
            <ul class="top-sidebar">
                <div class="rect">
                    <a href="{% url 'dashboard_view' %}">
                        <i class="material-icons dashboard">dashboard</i>
                    </a>
                </div>
                <div class="rect">
                    <a href="{% url 'mass_view' %}">
                        <i class="material-icons conversor">autorenew</i>
                    </a>
                </div>
                <div class="rect">
                    <a href="{% url 'numbers_view' %}">
                        <i class="material-icons gerador">calculate</i>
                    </a>
                </div>
                <div class="rect">
                    <a href="{% url 'texto_view' %}">
                        <i class="material-icons texto">text_format</i>
                    </a>
                </div>
                <div class="rect">
                    <a href="{% url 'cores_view' %}">
                        <i class="material-icons cores">invert_colors</i>
                    </a>
                </div>
                <div class="rect">
                    <i class="material-icons tempo">query_builder</i>                
                </div>
                <div class="rect">
                    <i class="material-icons cotacoes">monetization_on</i>
                </div>
            </ul>
            <ul class="bottom-sidebar">
                <div class="rect">
                    <i class="material-icons conta">account_circle</i>
                </div>
                <div class="rect">
                    <i class="material-icons suporte">help</i>
                </div>
            </ul>
        </nav>


        <div id="main-frame">
            <header id="header">
                <div id="top-header">
                    <h2 id="logo-text"> easy<span id="logo-tasks">tasks</span></h2>
                    <nav id="user-panel">
                        <a href="{% url 'login_view' %}"><button id="login-button">Entrar</button></a>
                        <a href="{% url 'registration_view' %}"><button id="signup-button">Cadastrar</button></a>
                    </nav>
                </div>
            </header>

            <main id="content">
                {% block content %}
                    <h1> {{ now }} </h1>
                {% endblock %}
            </main>

        </div>
    
    </div>

    {% block script %}
    {% endblock %}

</body>

</html>