:root {
    --purple-primary: #580091;
    --purple-secondary: #9A00FF;
    --purple-terciary: #F7EFFF;
    --purple-quaternary: #E6D3F9;
    --purple-light: #FBF8FE;
    --gray-primary: #2D3940;
    --gray-secondary: #4A565D;
    --gray-terciary: #47494A;
    --gray-quaternary: #7D919C;
    --gray-light: #F2F3F4;
    --dark-gray: #18262D;
    --blue-primary: #0089B4;
    --blue-secondary: #E4F5FB;
    --blue-terciary: #E4ECF1;
    --orange-dark: #D96500;
    --orange-light: #FFE5CE;
    --pink-light: #FFDCF0;
    --green-dark: #00A175;
    --green-light: #D4FBF0;
    --white: #ffffff;

}

#gerador-passwords-grid h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: var(--gray-secondary);
}

#gerador-passwords-grid h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: var(--gray-secondary);
}

#gerador-passwords-grid h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: var(--purple-primary);
}

#gerador-passwords-grid h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--purple-primary);
    padding: 6px 0px 6px 0px;
}


#gerador-passwords-grid {
    max-width: 98.25%;
    height: 98%;
    padding-top: 10px;
    padding-bottom: 6px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 8px;
    grid-template-areas: 
        "input input input input input adsense"
        "input input input input input adsense"
        "pwd-table pwd-table pwd-table pwd-table pwd-table adsense"
        "pwd-table pwd-table pwd-table pwd-table pwd-table adsense"
        "pwd-table pwd-table pwd-table pwd-table pwd-table adsense"
        "pwd-table pwd-table pwd-table pwd-table pwd-table adsense"
        "pwd-table pwd-table pwd-table pwd-table pwd-table adsense"
        ;
}

#gerador-passwords-input {
    grid-area: input;
    background-color: var(--white);
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#passwords-generated {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid var(--purple-primary);
    border-radius: 12px;
    padding: 16px;
}

#password {
    flex-grow: 1;
    
}

#copy-icon {
    flex-basis: 1;
}

.copy_icon {
    color: var(--purple-secondary);
    cursor: pointer;
}

#input-options-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

#character-quantity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 0px 0px 0px;
}

#character-quantity label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--purple-primary);
}

#gerador-passwords-input .input-data-form {
    width: 14rem;
    height: 40px;
    border: 2px solid var(--purple-secondary);
    border-radius: 8px;
    color: var(--purple-secondary);
    
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;

}

/*Remove arrows from input - Chrome, Safari, Edge, Opera */
.input-data-form::-webkit-outer-spin-button,
.input-data-form::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/*Remove arrows from input - Firefox */
.input-data-form[type=number] {
    -moz-appearance: textfield;
}

#gerador-passwords-input .input-data-form:focus {
    outline: none;
    box-shadow: 0px 0px 0.5px 0.5px var(--purple-primary);
}

#gerador-passwords-input .input-data-form::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    opacity: 0.5;
}

#character-type {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0px 0px 20px;
}

#character-type > label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--purple-primary);
}

#character-type-options {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#character-type-options label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--purple-primary);
    padding: 0px 20px 0px 30px;
}


 /* Custom Checkbox - Beginning */
 .checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 5px;
    border: 1px solid var(--purple-secondary);
    background-color: white;
  }

.checkbox-container:hover input ~ .checkbox-checkmark {
    background-color: var(--purple-terciary);
}

.checkbox-container input:checked ~ .checkbox-checkmark {
    background-color: var(--purple-secondary);
}

.checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkbox-checkmark:after {
    display: block;
}

.checkbox-container .checkbox-checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Custom Checkbox - End */

#input-options-div #buttons-form-div {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0px 0px 0px;
}

#buttons-form-div .gerador-generate-button {
    width: 10rem;
    height: 40px;
    background-color: var(--purple-primary);
    border-width: 0;
    border-radius: 12px;
    
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    cursor: pointer;
}

#buttons-form-div .gerador-generate-button:hover {
    background-color: var(--purple-secondary);
}

#buttons-form-div .gerador-generate-button:focus {
    outline: none;
}

#buttons-form-div .gerador-save-button {
    width: 10rem;
    height: 40px;
    background-color: var(--purple-quaternary);
    border-width: 0;
    border-radius: 12px;
    
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--purple-primary);
    cursor: pointer;
}

#buttons-form-div .gerador-save-button:hover {
    background-color: var(--purple-secondary);
    color: var(--white);
}

#buttons-form-div .gerador-save-button:focus {
    outline: none;
}

.buttons-form {
    padding: 0px 0px 0px 10px;
}

#gerador-passwords-table {
    grid-area: pwd-table;
    background-color: var(--purple-terciary);
    border-radius: 12px;
    height: 540px;
    overflow: auto;
}

#gerador-passwords-frame {
    background-color: var(--purple-terciary);
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
}

#gerador-passwords-frame th {
    padding: 8px;
    border-bottom-color: var(--purple-quaternary);
    font-size: 20px;
    font-weight: bold;
}

.gerador-table-data {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--gray-primary);
}

#gerador-passwords-table .delete_icon {
    color: red;
    font-size: 32px !important;
    cursor: pointer;
}

#gerador-saved-passwords-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}


#gerador-passwords-adsense {
    color: var(--white) !important;
    grid-area: adsense;
    background-color: var(--purple-primary);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
} 


















#gerador-passwords-adsense {
    grid-area: adsense;
    background-color: var(--purple-primary);
    border-radius: 12px;
}