{% extends "base.html" %}

{% load static %}

{% block title %} Easytasks - Cadastro {% endblock %}

{% block content %}
<div class="registration-page">

    <h1 id="page-title"> Cadastro. </h1>

    <hr id="horizontal-line">

    <h3 id="page-subtitle"> Preencha os campos abaixo com as suas informações. </h3>

    <div id="main-registration-form"> 
        <form id="registration-form" action="" method="post">
            <div id="registration-form-columns">
                <div id="registration-form-column-1">
                    <h4> Nome </h4>
                    <input 
                        type="text"
                        class="input-data-form"
                        id="firstname"
                        name="firstname"
                        placeholder="  Nome"
                        required
                    >
                    <h4> Usuário </h4>
                    <input 
                        type="text"
                        class="input-data-form"
                        id="username"
                        name="username"
                        placeholder="  identificação (ex: alex.melo)"
                        required
                    >
                    <h4> Senha </h4>
                    <input 
                        type="password"
                        class="input-data-form"
                        id="password1"
                        name="password1"
                        placeholder="  Pelo menos 6 caracters"
                        required
                    >
                </div>
                <div id="registration-form-column-2">
                    <h4> Sobrenome </h4>
                    <input 
                        type="text"
                        class="input-data-form"
                        id="lastname"
                        name="lastname"
                        placeholder="  Sobrenome"
                        required
                    >
                    <h4> E-mail </h4>
                    <input 
                        type="text"
                        class="input-data-form"
                        id="email"
                        name="email"
                        placeholder="  seuemail@domínio.com"
                        required
                    >
                    <h4> Confirmar Senha </h4>
                    <input 
                        type="password"
                        class="input-data-form"
                        id="password2"
                        name="password2"
                        placeholder="  Pelo menos 6 caracters"
                        required
                    >
                </div>
                
            </div>

            <div id="checkbox-registration-form">
                <label class="checkbox-container text-below-registration-form">Eu aceito todos os <span class="bold underline">Termos de Uso</span> da <span class="bold">easytasks</span>.
                    <input type="checkbox" id="remember-pwd">
                    <span class="checkbox-checkmark"></span>
                </label>
            </div>
            {% csrf_token %}
            <button id="form-registration-button">Criar Conta</button>
        </form>
        <p id="login-question"> Já possui cadastro? <span id="login-call">Faça o login</span>

    </div>






</div>

{% endblock %}