:root {
    --purple-primary: #580091;
    --purple-secondary: #9A00FF;
    --purple-tertiary: #F7EFFF;
    --purple-quaternary: #E6D3F9;
    --purple-light: #FBF8FE;
    --gray-primary: #2D3940;
    --gray-secondary: #4A565D;
    --gray-tertiary: #47494A;
    --gray-quaternary: #7D919C;
    --gray-light: #F2F3F4;
    --dark-gray: #18262D;
    --blue-primary: #0089B4;
    --blue-secondary: #E4F5FB;
    --blue-tertiary: #E4ECF1;
    --orange-dark: #D96500;
    --orange-light: #FFE5CE;
    --pink-light: #FFDCF0;
    --green-dark: #00A175;
    --green-light: #D4FBF0;
    --red-primary: #9e0f1c;
    --red-secondary: #e60015;
    --red-tertiary: #ff0015;
    --white: #ffffff;

}

#security-grid h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: var(--gray-secondary);
}

#security-grid h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: var(--gray-secondary);
}

#security-grid h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: var(--purple-primary);
}

#security-grid h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--purple-primary);
    padding: 6px 0px 6px 0px;
}

#security-grid {
    max-width: 98.25%;
    height: 98%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    grid-template-areas: 
        "data data data data data adsense"
        ;
}

#security-menu {
    grid-area: data;
    background-color: var(--white);
    border-radius: 12px;
}

#security-menu label {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--purple-primary);
    padding: 6px 0px 6px 0px;
}


#security-menu li {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--purple-primary);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 30px;
    list-style-type: disc;
}

.error-tag li {
    color: var(--red-secondary) !important;
}

#security-menu input {
    width: 15vw;
    height: 45px;
    background-color: var(--purple-tertiary);
    border: none;
    border-radius: 12px;
    padding-left: 8px;
    color: var(--purple-primary);
    margin-bottom: 20px;
    font-size: 15px;
}

#security-menu input:focus {
    outline: none;
}

#security-save-button {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--purple-primary);
    height: 45px;
    width: 12vw;
    border: 0px solid var(--purple-primary);
    border-radius: 12px;
    cursor: pointer;
    margin-top: 30px;
    padding-left: 8px;
}

#security-save-button:hover {
    background-color: var(--purple-secondary);
}

#security-empty {
    grid-area: empty;
    background-color: var(--white);
    border-radius: 12px;
}

#security-adsense {
    grid-area: adsense;
    background-color: transparent;
    min-width: 250px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#security-adsense h1 {
    text-align: center;
    color: var(--white);

}