{% extends "gerador_base.html" %}

{% load static %}

{% block title %} Easytasks - Gerador {% endblock %}

{% block gerador_content %}
<div id="gerador-passwords-grid">
    <div id="gerador-passwords-input">
        <h4 id="passwords-generated-title"> Senha Gerada </h4>
        
        <div id="passwords-generated">
            <h3 id="password"> vNUjcve&@&#B^FqQ$UR8 </h3>
            <i id="copy-icon" class="material-icons copy_icon">content_copy</i>
        </div>
        <form id="gerador-numbers-form" action="" method="post">
            <div id="input-options-div">
                <div id="character-quantity">
                    <label form="gerador-password-form">Quantidade de Caracteres:</label>
                    <input class="input-data-form"
                        type="number"
                        id="lower-limit-input"
                        name="lower-limit-input"
                        placeholder="Tamanho de Senha"
                        step="1"
                        required
                    >
                </div>

                
                <div id="character-type">
                    <label form="password-numbers-form">Tipo de Caracteres:</label>
                    <div id="character-type-options">
                        <label class="checkbox-container" id="label-uppercase">Letras Maiúsculas
                            <input class="checkbox-character"
                                type="checkbox"
                                id="uppercase-input"
                                name="uppercase-input"
                            >
                            <span class="checkbox-checkmark"></span>
                        </label>
                        <label class="checkbox-container" id="label-lowercase">Letras Minúsculas
                            <input class="checkbox-character"
                                type="checkbox"
                                id="lowercase-input"
                                name="lowercase-input"
                            >
                            <span class="checkbox-checkmark"></span>
                        </label>
                        <label class="checkbox-container" id="label-numbers"> Números
                            <input class="checkbox-character"
                                type="checkbox"
                                id="numbers-input"
                                name="numbers-input"
                            >
                            <span class="checkbox-checkmark"></span>
                        </label>
                        <label class="checkbox-container" id="label-symbols"> Símbolos
                            <input class="checkbox-character"
                                type="checkbox"
                                id="symbols-input"
                                name="symbols-input"
                            >
                            <span class="checkbox-checkmark"></span>
                        </label>
                    </div>
                </div>
                
                <div id="buttons-form-div">
                    <div class="buttons-form">
                        <button class="gerador-generate-button"> Gerar </button>
                    </div>
                    <div class="buttons-form">
                        <button class="gerador-save-button"> Salvar </button>
                    </div>
                </div>
            </div>
        {% csrf_token %}
        </form>

    </div>

    <div id="gerador-passwords-table">
        <div id="gerador-passwords-frame">
            <table id="gerador-saved-passwords-table">
                <tr>        
                    <th id="gerador-head-date">Data</th>
                    <th id="gerador-head-numbers">Senha</th>
                    <th id="gerador-head-actions">Ações</th>
                </tr>
                <!-- This row will be replaced by a For tag -->
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>
                <tr>        
                    <td class="gerador-table-data">21/01/2021(15:54)</td>
                    <td class="gerador-table-data">10  -  12  -  25  -  50  -  75  -  100 - 114 - 125 - 130</td>
                    <td class="gerador-table-data">
                        <i class="material-icons delete_icon">delete_forever</i>
                    </td>
                </tr>

            </table>
        </div>
    </div>

    <div id="gerador-passwords-adsense">
        <h1 id="gerador-text-adsense"> Google Adsense </h1>
    </div>

</div>
{% endblock %}