
:root {
    --purple-primary: #580091;
    --purple-secondary: #9A00FF;
    --purple-tertiary: #F7EFFF;
    --purple-quaternary: #E6D3F9;
    --purple-light: #FBF8FE;
    --gray-primary: #2D3940;
    --gray-secondary: #4A565D;
    --gray-tertiary: #47494A;
    --gray-quaternary: #7D919C;
    --gray-light: #F2F3F4;
    --dark-gray: #18262D;
    --blue-primary: #0089B4;
    --blue-secondary: #E4F5FB;
    --blue-tertiary: #E4ECF1;
    --orange-dark: #D96500;
    --orange-light: #FFE5CE;
    --pink-light: #FFDCF0;
    --green-dark: #00A175;
    --green-light: #D4FBF0;
    --red-primary: #9e0f1c;
    --red-secondary: #e60015;
    --red-tertiary: #ff0015;
    --red-quaternary: #FFEAEA;
    --white: #ffffff;

}

.login-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column

}

.login-page h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: var(--gray-secondary);
}

.login-page h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: var(--gray-secondary);
}

.login-page h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100;
    color: var(--purple-primary);
}

.login-page h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--purple-primary);
    padding: 6px 0px 6px 0px;
}

.login-page #horizontal-line {
    max-width: 98%;
    border: 1px solid var(--purple-primary);
    opacity: 0.15;
}

.login-page #page-title {
    color: var(--purple-primary);
    padding-bottom: 6px;
}

.login-page #page-subtitle {
    padding-top: 6px;
}

#login-page-grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    grid-template-areas: 
        "form form form form form form adsense"
        ;    
}

#login-page-content {
    grid-area: form;
}

.login-page .error {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--red-primary);
}

.login-page #error-div {
    margin: 10px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    background-color: var(--red-quaternary);
    width: fit-content;
    height: 3rem;
    border-radius: 8px;
    border: 1px solid var(--red-quaternary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-page #error-tag {
    padding: 0px 0px 0px 0px;
}

#login-form {
    padding: 10px 0px 10px 0px;
}

#login-form .input-data-form {
    width: 25vw;
    height: 30px;
    border: 1px solid var(--purple-secondary);
    border-radius: 5px;
    padding-left: 8px;
    color: var(--purple-primary);
}

#login-form .input-data-form:focus {
    outline: none;
    box-shadow: 0px 0px 0.5px 0.5px var(--purple-primary);
}

#main-login-form #checkbox-login-form {
    width: 20vw;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0px 0px 0px;
}


#form-login-button {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--purple-primary);
    background-color: var(--purple-tertiary);
    height: 45px;
    width: 25.75vw;
    border: 0px solid var(--purple-primary);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

#form-login-button:hover {
    background-color: var(--purple-quaternary);
}

 /* Custom Checkbox - Beginning */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 5px;
    border: 1px solid var(--purple-secondary);
    background-color: white;
  }

.checkbox-container:hover input ~ .checkbox-checkmark {
    background-color: var(--purple-terciary);
}

.checkbox-container input:checked ~ .checkbox-checkmark {
    background-color: var(--purple-secondary);
}

.checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkbox-checkmark:after {
    display: block;
}

.checkbox-container .checkbox-checkmark:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Custom Checkbox - End */


.text-below-pwd {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--purple-primary);
}

#lost-pwd {
    width: max-content;
    font-style: italic;
    cursor: pointer;
    color: var(--purple-primary);
}

#lost-pwd:hover {
    font-weight: 500;
    color: var(--purple-primary);
}

#register {
    width: 25vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--purple-primary);
}

#register-call {
    cursor: pointer;
    font-weight: 700;
    color: var(--purple-secondary);
}

#register-call:hover {
    border-bottom: 1px solid var(--purple-secondary);
}

#login-page-adsense {
    background-color: transparent !important;
    min-width: 250px;
    border-radius: 12px;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#login-page-adsense h1 {
    color: var(--purple-primary);
}