
:root {
    --purple-primary: #580091;
    --purple-secondary: #9A00FF;
    --purple-tertiary: #F7EFFF;
    --purple-quaternary: #E6D3F9;
    --purple-light: #FBF8FE;
    --gray-primary: #2D3940;
    --gray-secondary: #4A565D;
    --gray-tertiary: #47494A;
    --gray-quaternary: #7D919C;
    --gray-light: #F2F3F4;
    --dark-gray: #18262D;
    --blue-primary: #0089B4;
    --blue-secondary: #E4F5FB;
    --blue-tertiary: #E4ECF1;
    --orange-dark: #D96500;
    --orange-light: #FFE5CE;
    --pink-light: #FFDCF0;
    --green-dark: #00A175;
    --green-light: #D4FBF0;
    --red-primary: #9e0f1c;
    --red-secondary: #e60015;
    --red-tertiary: #ff0015;
    --red-quaternary: #FFEAEA;
    --white: #ffffff;

}

@media only screen and (max-width: 1000px) {

    .reset-page h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 40px;
        color: var(--gray-secondary);
    }
    
    .reset-page h2 {
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
        color: var(--gray-secondary);
    }
    
    .reset-page h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 100;
        color: var(--purple-primary);
    }
    
    .reset-page h4 {
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: var(--purple-primary);
        padding: 6px 0px 6px 0px;
    }
    
    .reset-page p {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: var(--purple-primary);
    }
    
    .reset-page #horizontal-line {
        max-width: 98%;
        border: 1px solid var(--purple-primary);
        opacity: 0.15;
    }
    
    .reset-page #page-title {
        color: var(--purple-primary);
        padding-bottom: 6px;
    }
    
    .reset-page #page-subtitle {
        padding-top: 6px;
    }
    
    #main-reset-form {
        padding: 20px 0px 0px 0px;
    }
    
    .reset-page label {
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: var(--purple-primary);
        padding: 6px 0px 6px 0px;
    }
    
    
    .reset-page li {
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: var(--purple-primary);
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 30px;
        list-style-type: disc;
    }
    
    .reset-page input {
        width: 250px;
        height: 30px;
        border: 1px solid var(--purple-secondary);
        border-radius: 5px;
        padding-left: 8px;
        margin-bottom: 20px;
        color: var(--purple-primary);
    }
    
    .reset-page input:focus {
        outline: none;
        box-shadow: 0px 0px 0.5px 0.5px var(--purple-primary);
    }
    
    .error-tag li {
        color: var(--red-secondary) !important;
    }
    
    .bold-text {
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: var(--purple-primary);
    }
    
    #form-reset-button {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: var(--purple-primary);
        background-color: var(--purple-tertiary);
        height: 45px;
        width: 250px;
        border: 0px solid var(--purple-primary);
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    #form-reset-button:hover {
        background-color: var(--purple-quaternary);
    }
}

