
:root {
    --purple-primary: #580091;
    --purple-secondary: #9A00FF;
    --purple-terciary: #F7EFFF;
    --purple-quaternary: #E6D3F9;    
    --purple-light: #FBF8FE;
    --gray-primary: #2D3940;
    --gray-secondary: #4A565D;
    --gray-terciary: #47494A;
    --gray-quaternary: #7D919C;
    --gray-light: #F2F3F4;
    --dark-gray: #18262D;
    --blue-primary: #0089B4;
    --blue-secondary: #E4F5FB;
    --blue-terciary: #E4ECF1;
    --orange-dark: #D96500;
    --orange-light: #FFE5CE;
    --pink-light: #FFDCF0;
    --green-dark: #00A175;
    --green-light: #D4FBF0;
    --white: #ffffff;

}

.registration-page h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: var(--gray-secondary);
}

.registration-page h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: var(--gray-secondary);
}

.registration-page h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100;
    color: var(--purple-primary);
}

.registration-page h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--purple-primary);
    padding: 6px 0px 6px 0px;
}

.registration-page #horizontal-line {
    max-width: 98%;
    border: 1px solid var(--purple-primary);
    opacity: 0.15;
}

.registration-page #page-title {
    color: var(--purple-primary);
    padding-bottom: 6px;
}

.registration-page #page-subtitle {
    padding-top: 6px;
}

#registration-form {
    padding: 20px 0px 10px 0px;
}

#registration-form-columns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#registration-form-column-1 {
    padding: 0px 10px 10px 0px;
}

#registration-form-column-2 {
    padding: 0px 0px 10px 10px;
}

#registration-form .input-data-form {
    width: 225px;
    height: 30px;
    border: 1px solid var(--purple-secondary);
    border-radius: 5px;
    padding-left: 8px;
    color: var(--purple-primary);
}

#registration-form .input-data-form:focus {
    outline: none;
    box-shadow: 0px 0px 0.5px 0.5px var(--purple-primary);
}

#registration-form #checkbox-form {
    width: 400px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0px 0px 0px;
}

.text-below-registration-form {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: var(--purple-primary);
}

.bold {
    font-weight: 600;
    cursor: pointer;
}

.underline:hover {
    border-bottom: 1px solid var(--purple-secondary);
}

#form-registration-button {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--purple-primary);
    background-color: var(--purple-terciary);
    height: 45px;
    width: 490px;
    border: 0px solid var(--purple-primary);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

#checkbox-registration-form .text-below-registration-form {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: var(--purple-primary);
}


 /* Custom Checkbox - Beginning */
 #checkbox-registration-form .checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#checkbox-registration-form .checkbox-container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

#checkbox-registration-form .checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 5px;
    border: 1px solid var(--purple-secondary);
    background-color: white;
  }

#checkbox-registration-form .checkbox-container:hover input ~ .checkbox-checkmark {
    background-color: var(--purple-terciary);
}

#checkbox-registration-form .checkbox-container input:checked ~ .checkbox-checkmark {
    background-color: var(--purple-secondary);
}

#checkbox-registration-form .checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

#checkbox-registration-form .checkbox-container input:checked ~ .checkbox-checkmark:after {
    display: block;
}

#checkbox-registration-form .checkbox-container .checkbox-checkmark:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Custom Checkbox - End */

#form-registration-button:hover {
    background-color: var(--purple-quaternary);
}

#login-question {
    width: 475px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--purple-primary);
}

#login-call {
    cursor: pointer;
    font-weight: 700;
    color: var(--purple-secondary);
}

#login-call:hover {
    border-bottom: 1px solid var(--purple-secondary);
}
