{% extends "gerador_base.html" %}

{% load static %}

{% block title %} Easytasks - Gerador {% endblock %}

{% block gerador_content %}
<div id="gerador-passwords-grid">
    <div id="gerador-passwords-input">
        <h4 id="passwords-generated-title"> Senha Gerada </h4>
        
        <div id="passwords-generated">
            <h3 id="password"></h3>
            
            <div id="tool-tip" class="tooltip" onclick="copyPassword()" onmouseout="copyPasswordOut()">
                <span class="tooltiptext" id="myTooltip"> Copiar Senha. </span>
                <i id="copy-icon" class="material-icons copy_icon"> content_copy </i>
            </div>
            
        </div>
        <form id="gerador-numbers-form" action="" method="post">
            <div id="input-options-div">
                <div id="character-quantity">
                    <label form="gerador-password-form">Quantidade de Caracteres:</label>
                    <input class="input-data-form"
                        type="number"
                        id="quantity-input"
                        name="quantity-input"
                        placeholder="Tamanho entre 0 - 50"
                        step="1"
                        min=0
                        max=50
                        required
                    >
                </div>

                
                <div id="character-type">
                    <label form="password-numbers-form">Tipo de Caracteres:</label>
                    <div id="character-type-options">
                        <label class="checkbox-container" id="label-uppercase">Letras Maiúsculas
                            <input class="checkbox-character"
                                type="checkbox"
                                id="uppercase-input"
                                name="uppercase-input"
                            >
                            <span class="checkbox-checkmark"></span>
                        </label>
                        <label class="checkbox-container" id="label-lowercase">Letras Minúsculas
                            <input class="checkbox-character"
                                type="checkbox"
                                id="lowercase-input"
                                name="lowercase-input"
                            >
                            <span class="checkbox-checkmark"></span>
                        </label>
                        <label class="checkbox-container" id="label-numbers"> Números
                            <input class="checkbox-character"
                                type="checkbox"
                                id="numbers-input"
                                name="numbers-input"
                            >
                            <span class="checkbox-checkmark"></span>
                        </label>
                        <label class="checkbox-container" id="label-symbols"> Símbolos
                            <input class="checkbox-character"
                                type="checkbox"
                                id="symbols-input"
                                name="symbols-input"
                            >
                            <span class="checkbox-checkmark"></span>
                        </label>
                    </div>
                </div>
                
                <div id="buttons-form-div">
                    
                    <div class="buttons-form">
                        <button id="generate-button" class="gerador-generate-button"> Gerar </button>
                    </div>
                    <div class="buttons-form">
                        <p>Limite Máximo: 15 itens</p>
                        <button id="save-button" class="gerador-save-button"> Salvar </button>
                    </div>
                </div>
            </div>
        {% csrf_token %}
        </form>

    </div>

    <div id="gerador-passwords-table">
        <div id="gerador-passwords-frame">
            <table id="gerador-saved-passwords-table">
                <thead>
                    <tr>
                        <th id="gerador-head-date" class="date">Data</th>
                        <th id="gerador-head-numbers" class="password">Senha</th>
                        <th id="gerador-head-actions" class="actions">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for password in passwords %}
                        <tr>        
                            <td class="gerador-table-data"> {{ password.date }} </td>
                            <td class="gerador-table-data"> {{ password.password }} </td>
                            <td class="gerador-table-data">
                                <i onclick="delPassword('{{password.id}}')" class="material-icons delete_icon">delete_forever</i>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>

            </table>
        </div>
    </div>

    <div id="gerador-passwords-adsense">
        {% include "adsense_base.html" with personalizedAds=cookies.cookie.cookie_marketing.status %}
    </div>

</div>
{% endblock %}


<script>
{% block firstScript %}

    // Input Elements
    const inputCharQuantity = document.getElementById('quantity-input');
    const inputUpperCase = document.getElementById('uppercase-input');
    const inputLowerCase = document.getElementById('lowercase-input');
    const inputNumber = document.getElementById('numbers-input');
    const inputSymbol = document.getElementById('symbols-input');
    

    // Display Element
    const displayPassword = document.getElementById('password');

    // Buttons
    const generateButton = document.getElementById('generate-button');
    const saveButton = document.getElementById('save-button');
    const copyButton = document.getElementById('copy-icon');

    // Lists of Characters
    let LOWERCASELETTERS = 'abcdefghijklmnopqrstuvwxyz';
    let UPPERCASELETTERS = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    let NUMBERS = '0123456789';
    let SYMBOLS = '!@#$%&*(){}[]~^-=_+<>,.';


    // Initial Values
    let CHAR_QUANTITY = inputCharQuantity.value = 8;
    let UPPERCASE = inputUpperCase.checked = true;
    let LOWERCASE = inputLowerCase.checked = true;
    let NUMBER = inputNumber.checked = true;
    let SYMBOL = inputSymbol.checked = true;

    // Auxiliary Functions
    function copyPassword() {
      navigator.clipboard.writeText(displayPassword.innerText);
      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "Copiado!";
    }

    function copyPasswordOut() {
      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "Copiar Senha";
    }    
    
    function getRandomNumber(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1) + min); //The maximum is exclusive and the minimum is inclusive
    }

    function getRandomChar(stringArray) {
        string = typeof(stringArray) === 'string' ? String(stringArray) : '';
        return string[Math.floor(Math.random()*(string.length))]
    }

    function getRandomArray(arrayOfArrays) {
        arrayLength = parseInt(arrayOfArrays.length);
        chosenArrayIndex = getRandomNumber(0, arrayLength-1);
        chosenArray = arrayOfArrays[chosenArrayIndex];
        return chosenArray;
    }
    
    function generatePassword(quantityOfCharacters, isUppercase, isLowercase, isNumber, isSymbol) {
        let allowed_types = [];
        let password = [];

        isUppercase ? allowed_types.push(UPPERCASELETTERS) : null;
        isLowercase ? allowed_types.push(LOWERCASELETTERS) : null;
        isNumber ? allowed_types.push(NUMBERS) : null;
        isSymbol ? allowed_types.push(SYMBOLS) : null;

        for (let i=0; i<quantityOfCharacters; i++) {
            let char = getRandomChar(getRandomArray(allowed_types));
            if (typeof(char) !== 'undefined') {
                password.push(char);
            }
        }
        return password;
    }
    
    function savePassword() {
        // FetchAPI
        var payload = {
            password: String(displayPassword.innerText),
        };
        var data = new FormData();
        data.append('json', JSON.stringify(payload));
        var myInit = {
            headers: {
                'X-CSRFToken': csrftoken,
                },
            body: data,
            method: 'POST',
            mode: 'same-origin',
        };
        const request = new Request( "{{ request.path }}", myInit);
        let URL;
        fetch(request).then(function(response) {
            if (response.status === 200) {
                URL = response.url;
                switch (response.redirected) {
                    case true:
                        return response;
                    default:
                        return response.json();
                }
            } else {
                throw new Error('Something went wrong on api server!');
            }
        }).then(function(data) {
            if (data.status === 'Exceeded Limit.') {
                alert('Você atingiu o limite máximo de 15 itens.');
            } else {
                window.location.assign(URL);
            }
        });
    }

    function delPassword(passwordId) {
        // FetchAPI
        var payload = {
            passwordId: passwordId,
        };

        var myInit = {
            headers: {
                'X-CSRFToken': csrftoken,
                'Content-Type': 'application/json',
                },
            body: JSON.stringify(payload),
            method: 'DELETE',
            mode: 'same-origin',
        };
        const request = new Request("{{ request.path }}", myInit);
        
        fetch(request).then(function(response) {
            if (response.status === 200) {
                window.location.assign(response.url);
            } else {
                throw new Error('Something went wrong on api server!');
            }
        }); 
    }

    function validateInputChar() {
        if (inputCharQuantity.value < 0 || inputCharQuantity.value > 50) {
            inputCharQuantity.value = CHAR_QUANTITY = '';
        }  
    }

    // Listeners
    inputCharQuantity.addEventListener("change", function() {
        CHAR_QUANTITY = parseInt(inputCharQuantity.value);
    });
    inputUpperCase.addEventListener("change", function() {
        UPPERCASE = Boolean(inputUpperCase.checked);
    });
    inputLowerCase.addEventListener("change", function() {
        LOWERCASE = Boolean(inputLowerCase.checked);
    });
    inputNumber.addEventListener("change", function() {
        NUMBER = Boolean(inputNumber.checked);
    });
    inputSymbol.addEventListener("change", function() {
        SYMBOL = Boolean(inputSymbol.checked);
    });

    generateButton.addEventListener("click", function(event) {
        event.preventDefault();

        validateInputChar();

        displayPassword.innerText = generatePassword(CHAR_QUANTITY, UPPERCASE, LOWERCASE, NUMBER, SYMBOL).join('');
    });

    saveButton.addEventListener("click", function(event) {
        event.preventDefault();

        savePassword();
    });


{% endblock %}
</script>