:root {
    --purple-primary: #580091;
    --purple-secondary: #9A00FF;
    --purple-tertiary: #F7EFFF;
    --purple-quaternary: #E6D3F9;
    --purple-light: #FBF8FE;
    --gray-primary: #2D3940;
    --gray-secondary: #4A565D;
    --gray-tertiary: #47494A;
    --gray-quaternary: #7D919C;
    --gray-light: #F2F3F4;
    --dark-gray: #18262D;
    --blue-primary: #0089B4;
    --blue-secondary: #E4F5FB;
    --blue-tertiary: #E4ECF1;
    --orange-dark: #D96500;
    --orange-light: #FFE5CE;
    --pink-light: #FFDCF0;
    --green-dark: #00A175;
    --green-light: #D4FBF0;
    --white: #ffffff;

}

@media only screen and (max-width: 1450px) {

    #gerador-passwords-grid h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 40px;
        color: var(--gray-secondary);
    }

    #gerador-passwords-grid h2 {
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
        color: var(--gray-secondary);
    }

    #gerador-passwords-grid h3 {
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: var(--purple-primary);
    }

    #gerador-passwords-grid h4 {
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: var(--purple-primary);
        padding: 6px 0px 6px 0px;
    }


    #gerador-passwords-grid {
        max-width: 98.25%;
        height: 98%;
        padding-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(1, auto);
        gap: 8px;
        grid-template-areas:
            "input pwd-table"
            "adsense adsense"
            ;
    }

    #gerador-passwords-input {
        grid-area: input;
        background-color: var(--white);
        border-radius: 12px;
        text-align: center;
        display: flex;
        flex-direction: column;
        
    }

    #passwords-generated {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--purple-primary);
        border-radius: 12px;
        padding: 16px;
        width: 20rem;
    }

    #passwords-generated .tooltip {
        position: relative;
        display: inline-block;
    }

    #tool-tip {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;

    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: var(--purple-tertiary);
        font-family: 'Quicksand', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: var(--purple-primary);
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        top: 50%;
        margin-left: -500%;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 35%;
        left: 100%;
        transform: rotate(-90deg);
        margin-left: 0px;
        border-width: 5px;
        border-style: solid;
        border-color: var(--purple-quaternary) transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    #password {
        max-width: 16rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    #copy-icon {
        flex-basis: 1;
    }

    .copy_icon {
        color: var(--purple-secondary);
        cursor: pointer;
    }

    #input-options-div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #character-quantity {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px 0px 0px 0px;
    }

    #character-quantity label {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: var(--purple-primary);
    }

    #gerador-passwords-input .input-data-form {
        
        height: 40px;
        border: 2px solid var(--purple-secondary);
        border-radius: 8px;
        color: var(--purple-secondary);

        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: center;

    }

    /*Remove arrows from input - Chrome, Safari, Edge, Opera */
    .input-data-form::-webkit-outer-spin-button,
    .input-data-form::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    /*Remove arrows from input - Firefox */
    .input-data-form[type=number] {
        -moz-appearance: textfield;
    }

    #gerador-passwords-input .input-data-form:focus {
        outline: none;
        box-shadow: 0px 0px 0.5px 0.5px var(--purple-primary);
    }

    #gerador-passwords-input .input-data-form::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 1rem;
        font-style: italic;
        font-weight: 300;
        opacity: 0.5;
    }

    #character-type {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 12px 0px 0px 0px;
    }

    #character-type>label {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: var(--purple-primary);
    }

    #character-type-options {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #character-type-options label {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: var(--purple-primary);
        padding: 0px 20px 0px 30px;
    }


    /* Custom Checkbox - Beginning */
    .checkbox-container {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkbox-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 5px;
        border: 1px solid var(--purple-secondary);
        background-color: white;
    }

    .checkbox-container:hover input~.checkbox-checkmark {
        background-color: var(--purple-tertiary);
    }

    .checkbox-container input:checked~.checkbox-checkmark {
        background-color: var(--purple-secondary);
    }

    .checkbox-checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .checkbox-container input:checked~.checkbox-checkmark:after {
        display: block;
    }

    .checkbox-container .checkbox-checkmark:after {
        left: 6px;
        top: 2px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    /* Custom Checkbox - End */

    #input-options-div #buttons-form-div {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 10px 0px 0px 0px;
    }

    #buttons-form-div .gerador-generate-button {
        width: 10rem;
        height: 40px;
        background-color: var(--purple-primary);
        border-width: 0;
        border-radius: 12px;

        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: var(--white);
        cursor: pointer;
    }

    #buttons-form-div .gerador-generate-button:hover {
        background-color: var(--purple-secondary);
    }

    #buttons-form-div .gerador-generate-button:focus {
        outline: none;
    }

    #buttons-form-div .gerador-save-button {
        width: 10rem;
        height: 40px;
        padding-left: 10px;
        background-color: var(--purple-quaternary);
        border-width: 0;
        border-radius: 12px;

        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: var(--purple-primary);
        cursor: pointer;
    }

    #buttons-form-div .gerador-save-button:hover {
        background-color: var(--purple-quaternary);
        color: var(--purple-secondary);
    }

    #buttons-form-div .gerador-save-button:focus {
        outline: none;
    }

    #buttons-form-div p {
        height: max-content;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: 300;
        font-style: italic;
        color: red;
        padding: 0px 0px 6px 0px;
        text-align: end;
    }

    .buttons-form {
        padding: 0px 10px 0px 0px;
    }

    #gerador-passwords-table {
        grid-area: pwd-table;
        background-color: var(--purple-tertiary);
        border-radius: 12px;
        height: 590px;
        overflow: auto;
        margin: 0px 0px 0px 10px;
    }

    #gerador-saved-passwords-table th.date {
        width: 20%;
    }

    #gerador-saved-passwords-table th.password {
        width: 65%;
    }

    #gerador-saved-passwords-table th.actions {
        width: 15%;
    }

    #gerador-passwords-frame {
        background-color: var(--purple-tertiary);
        border-radius: 20px;
        padding: 0px 0px 0px 0px;
        height: 100%;
    }

    #gerador-passwords-frame th {
        padding: 8px;
        border-bottom-color: var(--purple-quaternary);
        font-size: 14px;
        font-weight: bold;
    }

    .gerador-table-data {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 300;
        color: var(--gray-primary);
    }



    #gerador-passwords-table .delete_icon {
        color: red;
        font-size: 32px !important;
        cursor: pointer;
    }

    #gerador-saved-passwords-table {
        width: 100%;
        text-align: center;
        border-collapse: separate;
        border-spacing: 0px;
        table-layout: fixed;
    }

    #gerador-saved-passwords-table th {
        background-color: var(--purple-tertiary);
        position: sticky;
        z-index: 10;
        top: 0px;
    }

    #gerador-saved-passwords-table a {
        text-decoration: none;
    }


    #gerador-passwords-adsense {
        color: var(--white) !important;
        grid-area: adsense;
        background-color: transparent;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

}

@media only screen and (max-width: 930px) {

    #gerador-passwords-grid {
        max-width: 98.25%;
        height: 98%;
        padding-top: 10px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
        gap: 8px;
        grid-template-areas:
            "input"
            "pwd-table"
            "adsense"
            ;
    }

    #password {
        max-width: 100%;
    }

    #gerador-passwords-table {
        grid-area: pwd-table;
        background-color: var(--purple-tertiary);
        border-radius: 12px;
        height: 540px;
        overflow: auto;
        margin: 0px 10px 0px 0px;
    }

    #passwords-generated {
        width: auto;
    }

    #character-quantity {
        width: 100%;
    }
    
    #gerador-passwords-input .input-data-form {
        width: 100%;
    }

}

@media only screen and (max-width: 690px) {
    #passwords-generated {
        justify-content: center;
    }
    
    #password {
        max-width: 15rem;

    }    
}


@media only screen and (max-width: 450px) {
    
    #passwords-generated {
        justify-content: center;
    }

    #password {
        max-width: 15rem;
    }

    #passwords-generated {
        width: 17.5rem;
    }

    #character-quantity {
        width: 19rem;
    }
    
    #gerador-passwords-input .input-data-form {
        width: 100%;
    }    
}