<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2699664913206544"
    crossorigin="anonymous"></script>
{% if personalizedAds == 'ON' %}
    <script>(adsbygoogle=window.adsbygoogle||[]).requestNonPersonalizedAds=0;</script>
{% else %}
    <script>(adsbygoogle=window.adsbygoogle||[]).requestNonPersonalizedAds=1;</script>
{% endif %}

<!-- Easytasks-New -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-2699664913206544"
    data-ad-slot="8558813344"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>